{erl_opts, [
    debug_info,
    {warn_format, 2},
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_unused_import
% DEBUG mode - use local boulder instance
%    ,{d, 'TEST'}
]}.
{deps, [
    {shotgun, {git, "https://github.com/inaka/shotgun.git", {tag, "0.1.15"}}},
    % rebar3 version
    {jiffy  , {git, "https://github.com/sergium/jiffy.git", {ref, "7e78a91"}}},
    {cowboy , {git, "https://github.com/ninenines/cowboy.git", {ref, "341f991"}}} % 2.0.0-pre.2 + fix

]}.

% escript executable
% -escript main letsencrypt -pz letsencrypt/letsencrypt/ebin
{escript_emu_args, "%%! -escript main letsencrypt_escript"}.
%{escript_incl_extra, [{"_build/default/lib/jiffy/priv/jiffy.so", "."}]}.
