{minimum_otp_vsn, "17.5"}.
{erl_opts, [
    debug_info,
    {warn_format, 2},
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_unused_import
% DEBUG mode - use local boulder instance
%    ,{d, 'TEST'}
]}.
{deps, [
    {shotgun, "0.3.0"},
    {jiffy  , "0.14.7"},
    {cowboy , "1.0.4"}
]}.

{plugins, [rebar3_auto, rebar3_hex]}.

{overrides, [
    {override, jiffy, [
        {plugins, [pc]},
        {provider_hooks, [{post, [
            {compile, {pc, compile}},
            {clean, {pc, clean}}
        ]}]}
    ]}
]}.
