{minimum_otp_vsn, "17.5"}.
{erl_opts, [
    debug_info,
    {warn_format, 2},
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_unused_import
% DEBUG mode - use local boulder instance
%    ,{d, 'TEST'}
]}.
{deps, [
    {shotgun, {git, "https://github.com/inaka/shotgun.git", {tag, "0.1.15"}}},
    % rebar3 version
    {jiffy  , {git, "https://github.com/sergium/jiffy.git", {ref, "7e78a91"}}},
    {cowboy , {git, "https://github.com/ninenines/cowboy.git", {ref, "341f991"}}}, % 2.0.0-pre.2 + fix

    % eletsencrypt escript dependencies
    {getopt , {git, "https://github.com/jcomellas/getopt.git", {tag, "v0.8.2"}}},
    {yamerl , {git, "https://github.com/yakaz/yamerl.git"    , {tag, "v0.3.2-1"}}},
    {qdate  , {git, "https://github.com/choptastic/qdate.git", {tag, "0.4.2"}}},
    {color, {git, "https://github.com/julianduque/erlang-color.git", {tag, "v0.2.0"}}}
]}.

{plugins, [rebar3_auto]}.
